<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.okhi.android_okcollect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:launchMode="singleInstance">
        <activity android:noHistory="true" android:name=".OkHeartActivity"></activity>
    </application>

</manifest>